<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <SQLServerName>172.20.31.218,1433</SQLServerName> <!--To change the Server Name accordingly--> 
  <SQLDatabaseName>ESD_WITS</SQLDatabaseName>
  <SQLCommandTimeOut>60</SQLCommandTimeOut>
  <SQLUserID>sa</SQLUserID>
  <SQLPassword>p@ssw0rd</SQLPassword>
  <SQLConnectionTimeOut>60</SQLConnectionTimeOut>
</Configuration>